.heading-h1 {
  color: white;
  font-size: 50px;
  font-family: Inter;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.heading-h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}
.search-form {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;
}
.input-container {
  height: 5vh;
  width: 30vw;
  border-radius: 2.5vh;
  border: 2px solid #b4b4b4cc;
  background-color: rgb(16, 16, 16);
  display: flex;
  flex-direction: row;
  margin: 0rem 1rem;
}
.search-input {
  color: #373737;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  border: none;
  background-color: rgb(16, 16, 16);
  width: 70%;
}

.search-input:focus {
  /* Hide the default focus outline */
  outline: none;
  /* Optionally, you can add a box shadow to indicate focus if needed */
  box-shadow: none;
}
.search-button {
  width: 10vw;
  background-color: #ff2020;
  height: 5vh;
  border-radius: 2.5vh;
  color: white;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  border: none;
}

.play-art {
  background-color: #37373769;
  width: 40vh;
  height: 40vh;
  border-radius: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  z-index: -1;
  bottom: -5vh;
  right: -5vh;
}

.play-img {
  width: 15vh;
  height: 15vh;
  margin: auto;
}

/* Media Queries */

/* Mobile Devices */
@media screen and (max-width: 600px) {
  .heading-h1 {
    font-size: 8vw;
    text-align: center;
    padding: 0.5rem;
    line-height: 12vw;
  }

  .search-form{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .heading-h3 {
    font-size: 4vw;
    line-height: 6vw;
  }

  .input-container {
    width: 90vw;
    margin: 0.5rem;
  }

  .search-input {
    font-size: 3vw;
  }

  .search-button {
    width: 50% ;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .play-art {
    width: 60vw;
    height: 60vw;
    border-radius: 30vw;
    bottom: -10vw;
    right: -10vw;
  }

  .play-img {
    width: 20vw;
    height: 20vw;
  }
}

/* Larger Screens */
@media screen and (min-width: 1200px) {
  .heading-h1 {
    font-size: 4vw;
    line-height: 6vw;
  }

  .heading-h3 {
    font-size: 2vw;
    line-height: 3vw;
  }

  .input-container {
    width: 40vw;
  }

  .search-input {
    font-size: 1.5vw;
  }

  .search-button {
    width: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .play-art {
    width: 20vw;
    height: 20vw;
    border-radius: 10vw;
    bottom: -3vw;
    right: -3vw;
  }

  .play-img {
    width: 6vw;
    height: 6vw;
  }
}
