/* App.css */

.request-call-back-button {
  border: 0.1px solid white;
  outline: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: auto;
  text-align: center;
  width: 17vw;
  cursor: pointer;
  border-radius: 2vh;
}
.request-call-back-button :hover {
  cursor: pointer;
}
.request-call-back-button p {
  color: white;
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  margin: auto;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* backdrop-filter: blur(2.5px); */
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
}

.close-button {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 0.2px solid white; */
  border-radius: 2vh;
  margin: 20vh auto auto auto;
  width: 25vw;
  height: 45vh;
  text-align: center;
  background-color: rgba(0, 0, 0);
  position: relative;
}
.request-heading {
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}
.request-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.request-input {
  width: 60%;
  margin: 1rem auto;
  color: #707070;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #282828;
  border: none;
  border-radius: 0.75vh;
  padding: 0.5rem;
}
.request-input {
  outline: none;
}

.request-submit {
  width: 30vh;
  margin: auto;
  height: 5vh;
  border: none;
  border-radius: 2.5vh;
  background-color: #ffffff;
  cursor: pointer;
}
.done-icon {
  margin: auto;
}
.callback-done-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
.check-another-button {
  background-color: #ff0000;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
/* Media Queries */

/* Mobile Devices */
@media screen and (max-width: 600px) {
  .request-call-back-button {
    
    width: 80%;
  }

  .request-call-back-button p {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
  }

  .modal-content {
    width: 80%;
    height: auto + 2rem;
    margin: 10rem 0rem;
    margin-left: -2rem;
  }

  .request-heading {
    font-size: 5vw;
  }

  .request-input {
    width: 80%;
    font-size: 4vw;
  }

  .request-submit {
    width: 60%;
    font-size: 4vw;
  }

  .callback-done-text,
  .check-another-button {
    font-size: 3vw;
  }
}

/* Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .request-call-back-button {
    width: 50%;
  }

  .request-call-back-button p {
    font-size: 3vw;
  }

  .modal-content {
    width: 50%;
    height: auto;
  }

  .request-heading {
    font-size: 4vw;
  }

  .request-input {
    width: 50%;
    font-size: 3vw;
  }

  .request-submit {
    width: 40%;
    font-size: 3vw;
  }

  .callback-done-text,
  .check-another-button {
    font-size: 2.5vw;
  }
}

/* Laptop Devices and Larger */
@media screen and (min-width: 1025px) {
  /* No additional styles needed for laptops and larger screens */
}
