/* Navbar.css */

.navbar-container {
  width: 100vw;
  height: auto;
  padding: auto ;
  background: #101010;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.other-video-button {
  color: white;
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0rem 1rem;
  border: 0.1px solid white;
  height: auto;
  padding: 0.5rem 1rem;
  border-radius: 2vh;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.logo-image {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-size: 24px;
  font-family: Sora;
  font-weight: 600;
  word-wrap: break-word;
}

.beta-badge {
  margin-left: 10px;
  padding: 4px 8px;
  background: #232426;
  color: white;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  border-radius: 4px;
}

.second-part-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  padding-right: 5vw;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  .navbar-container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .logo-container{
    width: 25vw;
  }
  .other-video-button{
    font-size: 1rem;
  }

  .logo-text {
    font-size: 20px;
  }

  .login-button {
    padding: 8px 12px;
    gap: 6px;
  }

  .button-text {
    font-size: 14px;
  }
}

/* Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .logo-text {
    font-size: 22px;
  }

  .request-call-back-button {
    width: 15vw;
  }

  .other-video-button {
    margin: 0rem 0.5rem;
  }
}

/* Laptop Devices and Larger */
@media screen and (min-width: 1025px) {
  /* Add any specific styles for larger screens if needed */

  .navbar-container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .logo-text {
    font-size: 24px;
  }

  .request-call-back-button {
    width: 12vw;
  }

  .other-video-button {
    margin: 0rem 1rem;
  }
}
