.main-video-container {
  height: 25vh;
  background-color: #37373769;
  border-radius: 1.25vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.main-video-thumbnail {
  background: linear-gradient(0deg, white 0%, white 100%);
  height: 17vh;
  width: auto;
  border-radius: 1vh;
}
.uploaded-on-text {
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.stats-container {
  max-width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats-container h3 {
  /* width: 20%; */
}
.stats-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  text-align: center;
}

.earnings-box {
  color: white;
  font-size: 2rem;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
  background-color: #282828;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.check-button {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  background-color: white;
  color: black;
  margin: auto;
  border: none;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  .main-video-container {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
  }
  .stats-container {
    width: 80vw;
  }
  .stats-container h3 {
    width: 80vw;
  }
  .stats-container span {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .earnings-box{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .earnings-box button{
    /* display: flex;
    flex-direction: column;
    margin: auto; */
    width: 100%;
    font-size: small;
  }
}

/* Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Laptop Devices and Larger */
@media screen and (min-width: 1025px) {
  /* Add any specific styles for larger screens if needed */
}
